<h1>Exam Schedule Published</h1>
<p>Dear Students,</p>
<p>The exam schedule for <strong><%= @section.course.code %> - <%= @section.course.name %></strong> has been published:</p>
<p><strong>Date:</strong> <%= @exam_info[:date] %></p>
<p><strong>Time:</strong> <%= @exam_info[:time] %></p>
<p><strong>Location:</strong> <%= @exam_info[:location] %></p>
<p>Please arrive 15 minutes early.</p>
<p>Best regards,<br>UniOne Team</p>
